.card {
    position: relative;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 16px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 360px;
}

.card__like-btn {
    background-image: url(../images/heart_icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

.card__like-btn_active {
    background-image: url(../images/heart_liked.svg);
    opacity: 1;
}

.card__like-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.card__like-btn_active:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__delete-btn {
    background-image: url(../images/default_trash.svg);
    background-color: transparent;
    background-position: center;
    border-style: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card__delete-btn:hover {
    cursor: pointer;
    background-image: url(../images/clicked_trash.svg);
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
}