.card {
    position: relative;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 16px;
}

.card__image:hover {
    cursor: pointer;
    transition: transform .15s ease, box-shadow .15s ease;
    transform: translateY(-3px);
     box-shadow: 0 4px 12px rgba(0,0,0,.12); 
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-btn {
    background-image: url(../images/heart_icon.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 0.4;
}

.card__like-btn_active {
    background-image: url(../images/heart_liked.svg);
    opacity: 1;
}

.card__like-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.card__like-btn_active:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__delete-btn {
    background-image: url(../images/default_trash.svg);
    background-color: transparent;
    background-position: center;
    border-style: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.card__delete-btn:hover {
    cursor: pointer;
    background-image: url(../images/clicked_trash.svg);
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
}