.modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.modal_type_preview {
    padding: 0 16px;
}

.modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay:0s;
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
}

.modal__closed-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-image: url(../images/close_icon.svg);
    opacity: .4;
    background-color:transparent; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none;
}

.modal__close-btn_type_preview {
    background-image: url(../images/close_icon_preview.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    top: 0;
    right: -52.5px;
}

.modal__closed-btn:hover {
    cursor: pointer;
    color: #212121;
    opacity: 1;
}

.modal__close-btn_type_preview:hover {
    cursor: pointer;
    opacity: 0.4;
    background-color: transparent;
}

.modal__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 156px;
    height: 52px; 
    padding: 18px 32px; 
    border-radius: 8px;
    border: none; 
    background-color: #212121; 
    color: #fff; 
    font-size: 16px; 
}

.modal__submit-btn:hover {
    background: #212121CC;
    cursor: pointer;
}

.modal__title {
    margin: 0 0 32px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
}

.modal__input {
    display: block;
    margin: 8px 0 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #21212166;
    padding: 16px 12px 16px 12px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
}

.modal__input::placeholder {
    color: #21212166;
}

.modal__image-container {
    position: relative;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.modal__caption {
    color: white;
    background-color: #212121;
    border-radius: 8px;
    margin: 8px 0;
    padding: 4px 8px;
    max-width: 214px;
    max-height: 32px;
    font-family: Poppins Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}


@media screen and (max-width:627px) {
    .modal {
        margin: 0 auto;
    }
    
    .modal__image {
        max-width: unset;
    }

    .modal__container {
        padding: 12px 12px;
    }

    .modal__submit-btn {
        width: 100%;
        max-width: none;
    }

    .modal__closed-btn {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .modal__close-btn_type_preview {
        top: -48px;
        right: 0;
    }
}